.about-container{
    text-align: center;
    margin: 20px;
    max-width: 900px;
    padding: 20px;
    margin: 50px auto;

}
.about-container h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.about-content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}
.about-content img{
    border-radius: 4px;
    box-shadow: 0 10px 0 20px rgba(0, 0, 0, 0.3);
    width: 300px;
}
.about-text{
    margin-top: 20px;
    text-align: left;
    line-height: 1.6;
    max-width: 500px;
}