.users-container
{
   text-align: center;

}

.users-table
{
    width: 100%;
    border-collapse: collapse;
    background-color: aquamarine;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.users-table thead
{
    background-color: blueviolet;
    color: #ffffff;
}
.users.table th,
.users.table td
{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid black;
}